tensorflow==2.5.0
keras==2.4.3
opencv-python==4.5.1.48
numpy==1.19.5
imutils==0.5.4
pillow==8.3.2
scikit-learn==0.24.1
scipy==1.6.2
streamlit==1.22.0
jsonschema==4.17.3
referencing==0.30.2
altair==4.2.2
tf2onnx==1.9.3
